@font-face {
  font-family: "Asap";
  src: url("assets/fonts/Asap-Regular.ttf");
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "PT Sans";
  src: url("assets/fonts/PT-Sans.ttf");
}

@font-face {
  font-family: "PT Sans Narrow Bold";
  src: url("assets/fonts/PT_Sans-Narrow-Bold.ttf");
}

@font-face {
  font-family: "SegoeUI";
  src: url("assets/fonts/Segoe-UI.ttf");
}

@font-face {
  font-family: "SegoeWP";
  src: url("assets/fonts/SegoeWP.ttf");
}

@font-face {
  font-family: "SegoeWP-Light";
  src: url("assets/fonts/SegoeWP-Light.ttf");
}

@font-face {
  font-family: "Lucida Sans Italic";
  src: url("assets/fonts/Lucida_sans-italic.ttf");
}

body {
  margin: 0;
}

.wrapper {
  padding: 27px 0 67px 0;

  background: url("assets/images/header_background.jpg") no-repeat;
  background-size: 100%;
}

.hidden {
  position: absolute;

  height: 1px;
  width: 1px;
  padding: 0;

  border: 0;
  overflow: hidden;
}

.logo-block {
  display: flex;

  align-items: center;
}

.logo-text {
  margin: 12px 0 0 3px;

  color: #fff;
  font-family: "Lucida Sans Italic", arial, sans-serif;
  font-size: 41px;
  font-weight: normal;
  letter-spacing: 0.32px;
  text-shadow: 1px 1px 0 #000000;
  text-transform: uppercase;
}

.home {
  text-decoration: none;
}

.header {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;

  padding-left: 139px;
  padding-right: 140px;
}

.navigation {
  display: flex;

  margin: 0;
  padding: 0;

  font-family: "SegoeWP-Light", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #b99403;
  box-shadow: -5px -4px 0 0 rgba(245, 197, 6, 0.3), -9px -7px 0 0 rgba(245, 197, 6, 0.3);
  list-style: none;
}

.link:link,
.link:active,
.link:visited {
  color: #b99403;
  text-decoration: none;
}

.link {
  align-items: center;
  display: flex;
}

.menu-item:hover{
  background-color: #FFFFFF;

  cursor: pointer;
}

.menu-item {
  margin-right: 1px;

  background-color: #f5c506;

  transition: 300ms ease;
}

.icon {
  margin-right: 12px;
  max-width: 22px;
}

.nav-about-us {
  padding: 8px 22px 9px 38px;
}

.nav-about-us .icon {
  margin-right: 8px;
}

.nav-services {
  padding: 8px 18px 9px 11px;
}

.nav-contact {
  padding: 7px 20px 10px 15px;
  margin: 0;
}

.slider {
  position: relative;

  margin-top: 56px;
}

.arrows {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translate(0, -60%);

  width: 100%;
  max-height: 57px;
}

.arrow-button-left {
  background-color: #f5c506;

  transition: 300ms ease;
}

.arrow-left {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);

  padding: 16px 9px 15px 7px;
}

.arrow-button-right {
  background-color: #f5c506;

  transition: 300ms ease;
}

.arrow-right {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);

  padding: 17px 7px 18px 9px;
}

.arrow-button-left:hover path,
.arrow-button-right:hover path {
  fill: #b99403;
}

.arrow-button-left:hover,
.arrow-button-right:hover {
  background-color: #FFFFFF;
  box-shadow: 0 0 7px 1px #f5c506;

  cursor: pointer;
}

.parrot-slide {
  align-items: center;
  display: flex;
  justify-content: space-between;

  padding-left: 150px;
  padding-right: 163px;
}

.parrot-video {
  position: relative;
}

.parrot-video video {
  box-shadow: 0 0 5px 0.7px rgba(0, 0, 0, 0.26);
}

.play-button {
  left: 43.9%;
  position: absolute;
  top: 39.2%;

  height: 67px;
  width: 67px;

  background-color: #f5c506;
  border-radius: 100%;
  opacity: 0.8;

  transition: 200ms ease;
}

.play-button:hover {
  box-shadow: 0 0 5px 5px #fff;
  opacity: 1;

  cursor: pointer;
}

.play {
  position: absolute;
  left: 39%;
  top: 23%;
}

.bottom-controls {
  position: absolute;
  bottom: 26px;
  left: 29px;
}

.bottom-play {
  display: inline-block;

  padding: 2px 5px 0 9px;

  background-color: #f5c506;
  opacity: 0.45;

  transition: 150ms ease;
}

.bottom-play:hover {
  opacity: 1;

  cursor: pointer;
}

.time-line {
  display: inline-block;
  position: relative;

  margin-bottom: 3px;
  margin-left: 20px;
}

.full-time {
  height: 12px;
  width: 404px;

  background-color: #f5c506;
  border-radius: 5px;
  opacity: 0.45;
}

.current-time {
  position: absolute;
  bottom: 0;

  height: 12px;
  width: 179px;

  background-color: #f5c506;
  border-radius: 5px 0 0 5px;
}

.volume {
  display: inline-block;

  margin-left: 25px;
}

.slider-text {
  margin-bottom: 31px;

  font-family: "Asap", "Arial", sans-serif;
  font-size: 63px;
  text-align: center;
  text-transform: uppercase;
}

.slider-first-line {
  margin: 0;

  color: #f5c506;
}

.slider-second-line {
  margin: 0;

  color: #fff;
}

.features-line {
  position: relative;
  display: flex;
  justify-content: center;

  padding-left: 139px;
  padding-right: 139px;

  background: url("/assets/images/grid_pattern.png") repeat;
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.4);
}

.feature {
  flex: 1;

  font-family: "Segoe UI Light", "Arial", sans-serif;
  font-size: 27px;

  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;

  border-left: 1px solid #d4d4d4;
}

.feature-inner {
  padding-bottom: 31px;
  padding-top: 41px
}

.feature-text {
  margin: 0;
}

.last-card {
  border-right: 1px solid #d4d4d4;
}

.blog {
  padding: 30px 142px 17px 139px;

  background: url("assets/images/chess_pattern.png") repeat;
}

.blog-title {
  margin-bottom: 32px;
  margin-top: 0;

  color: #fff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 37px;
  font-weight: normal;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.blog-gallery {
  display: flex;
  align-items: end;
  font-size: 0;
}

.gallery-article {
  display: inline-block;
  position: relative;

  box-sizing: border-box;
  padding: 16px 36px 27px 30px;
  max-width: 340px;

  color: #FFFFFF;
  font-family: "SegoeWP-Light", "Arial", sans-serif;
  font-size: 29px;
  letter-spacing: 0.3px;

  background-color: #ec9e03;
}

.gallery-article {

}

.article-text {
  margin: 0;
}

.plus {
  position: absolute;

  right: 12px;
  bottom: 12px;

  font-size: 0;
}

.plus path{
  transition: 180ms ease;
}

.plus:hover {
  cursor: pointer;
}

.plus:hover path {
  fill: #ec0000;
  cursor: pointer;
}

.gallery-media {
  display: inline-block;
  position: relative;
}

.blog-play-button {
  left: 42%;
  position: absolute;
  top: 40%;

  height: 61px;
  width: 61px;

  background-color: #f5c506;
  border-radius: 100%;
  opacity: 0.8;

  transition: 200ms ease;
}

.blog-play {
  position: absolute;
  left: 39%;
  top: 24%;
}

.blog-play-button:hover {
  box-shadow: 0 0 5px 5px #fff;
  opacity: 1;

  cursor: pointer;
}

.gallery-social {
  display: inline-block;
  position: relative;

  margin-left: 35px;
  padding: 57px 82px 17px 76px;

  background-color: #ec9e03;
}

.article-number {
  position: absolute;
  top: 10px;
  right: 17px;

  color: #fff;
  font-size: 26px;
  font-family: "SegoeWP-Light", "Arial", sans-serif;
}

.blog-date {
  display: inline-block;

  margin-bottom: 41px;
  padding: 10px 25px 3px 29px;

  font-family: "Segoe UI", "Arial", sans-serif;
  text-align: center;

  background-color: #ddb101;
}

.day {
  color: #fff;
  font-size: 51px;
  font-weight: bold;
  line-height: 45px;
}

.day p {
  margin: 0;
}

.month {
  color: #c18000;
  font-size: 21px;
  text-transform: uppercase;
}

.blog-scroll {
  max-width: 896px;
  left: 50%;
  position: relative;
  transform: translate(-49%, 0);
}

.scroller {
  -webkit-appearance: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.scroller::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

.scroller::-webkit-slider-thumb {
  height: 15px;
  width: 197px;
  border-radius: 10px;
  background: #ec9e03;
  cursor: pointer;
  -webkit-appearance: none;
}

.scroller::-moz-range-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

.scroller::-moz-range-thumb {
  border: 0;
  height: 15px;
  width: 197px;
  border-radius: 19px;
  background: #ec9e03;
  cursor: pointer;
}

.scroller::-ms-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
}

.scroller::-ms-thumb {
  width: 197px;
  border-radius: 10px;
  background: #ec9e03;
  cursor: pointer;
  height: 15px;
}

.summary {
  padding: 35px 136px 0 158px;

  background: url("assets/images/summary_pattern.png") repeat;
  box-shadow: inset 0 -5px 4px -2px rgba(0, 0, 0, 0.7);
}

.summary-head {
  margin-top: 0;
  margin-bottom: 46px;
  padding-right: 16px;

  color: #f5c506;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 43px;
  font-weight: normal;
  letter-spacing: 0.45px;
  text-transform: uppercase;
  text-align: center;
}

.platforms {
  position: relative;
  display: inline-block;
}

.desktop{
  opacity: 0.6;
}

.sticker {
  position: absolute;
  top: -42px;
  left: -20px;

  padding: 48px 6px 43px 6px;

  color: #fff;
  font-family: "PT Sans Narrow Bold", "Arial", sans-serif;
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #f5c506;
  border-radius: 100%;
  opacity: 1;
  z-index: 1;
}

.tablet {
  margin-bottom: 40px;
  margin-left: 20px;

  opacity: 0.6;
}

.mobile {
  margin-bottom: 40px;
  margin-left: 21px;

  opacity: 0.6;
}

.about-platforms {
  display: inline-block;

  margin: 44px 0 78px 111px;
  max-width: 345px;
  padding: 0;
  vertical-align: top;

  color: #9d9d9b;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  font-size: 22px;

  list-style: none;
}
.list-item {
  margin-bottom: 15px;
  text-indent: -35px;
}

.list-item::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 14px;
  width: 14px;
  margin-right: 20px;
  background-color: #f5c506;
}

.footer {
  background-color: #4c4c4c;
  padding: 4px 0 4px 140px;
}

.footer-logo-block {
  display: flex;

  align-items: center;

  text-decoration: none;
}

.footer-logo-block:hover {
  cursor: pointer;
}

.footer-logo {
  max-width: 54px;
}

.footer-logo-text {
  margin: 2px 0 0 5px;

  color: #fff;
  font-family: "Lucida Sans Italic", arial, sans-serif;
  font-size: 29px;
  font-weight: normal;
  letter-spacing: 0.32px;
  text-shadow: 1px 1px 0 #000000;
  text-transform: uppercase;
}