@font-face {
  font-family: "Asap";
  src: url("assets/fonts/Asap-Regular.ttf");
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "PT Sans";
  src: url("assets/fonts/PT-Sans.ttf");
}

@font-face {
  font-family: "PT Sans Narrow Bold";
  src: url("assets/fonts/PT_Sans-Narrow-Bold.ttf");
}

@font-face {
  font-family: "SegoeUI";
  src: url("assets/fonts/Segoe-UI.ttf");
}

@font-face {
  font-family: "SegoeWP";
  src: url("assets/fonts/SegoeWP.ttf");
}

@font-face {
  font-family: "SegoeWP-Light";
  src: url("assets/fonts/SegoeWP-Light.ttf");
}

@font-face {
  font-family: "Lucida Sans Italic";
  src: url("assets/fonts/Lucida_sans-italic.ttf");
}

body {
  margin: 0;
}

.wrapper {
  padding: 27px 0 67px 0;

  background: url("assets/images/header_background.jpg") no-repeat;
  background-size: 100%;
}

.hidden {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.logo-block {
  display: flex;
  align-items: center;
}

.logo-text {
  margin: 12px 0 0 3px;

  color: #fff;
  font-family: "Lucida Sans Italic", arial, sans-serif;
  font-size: 41px;
  font-weight: normal;
  letter-spacing: 0.32px;
  text-shadow: 1px 1px 0 #000000;
  text-transform: uppercase;
}

.home {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding-left: 139px;
  padding-right: 140px;
}

.navigation {
  display: flex;

  margin: 0;
  padding: 0;

  font-family: "SegoeWP-Light", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #b99403;
  box-shadow: -5px -4px 0 0 rgba(245, 197, 6, 0.3), -9px -7px 0 0 rgba(245, 197, 6, 0.3);
  list-style: none;
}

.link:link,
.link:active,
.link:visited {
  color: #b99403;
  text-decoration: none;
}

.link {
  display: flex;
  align-items: center;
}

.menu-item:hover{
  background: #FFFFFF;

  cursor: pointer;
}

.menu-item {
  background-color: #f5c506;
  margin-right: 1px;
  transition: 300ms ease;
}

.icon {
  margin-right: 12px;
  max-width: 22px;
}

.nav-about-us {
  padding: 8px 22px 9px 38px;
}

.nav-about-us .icon {
  margin-right: 8px;
}

.nav-services {
  padding: 8px 18px 9px 11px;
}

.nav-contact {
  padding: 7px 20px 10px 15px;
  margin: 0;
}

.slider {
  position: relative;

  margin-top: 56px;
}

.arrows {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(0, -60%);
  max-height: 57px;
}

.arrow-button-left {
  background-color: #f5c506;
  transition: 300ms ease;
}

.arrow-left {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  padding: 16px 9px 15px 7px;
}

.arrow-button-right {
  background-color: #f5c506;
  transition: 300ms ease;
}

.arrow-right {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  padding: 17px 7px 18px 9px;
}

.arrow-button-left:hover path,
.arrow-button-right:hover path {
  fill: #b99403;
}

.arrow-button-left:hover,
.arrow-button-right:hover {
  background-color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0 0 7px 1px #f5c506;
}

.parrot-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 163px;
}

.parrot-video {
  position: relative;
}

.parrot-video video {
  box-shadow: 0 0 5px 0.7px rgba(0, 0, 0, 0.26);
}

.play-button {
  position: absolute;
  width: 67px;
  height: 67px;
  background-color: #f5c506;
  border-radius: 100%;
  opacity: 0.8;
  top: 50%;
  left: 50%;
  transform: translate(-50.7%, -53.7%);
  transition: 200ms ease;
}

.play-button:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 5px #fff;
  opacity: 1;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-32%, -43%);
}

.bottom-controls {
  position: absolute;
  bottom: 26px;
  left: 29px;
}

.bottom-play {
  display: inline-block;
  background-color: #f5c506;
  padding: 2px 5px 0 9px;
  opacity: 0.45;
  transition: 150ms ease;
}

.bottom-play:hover {
  cursor: pointer;
  opacity: 1;
}

.time-line {
  position: relative;
  display: inline-block;
  margin-bottom: 3px;
  margin-left: 20px;
}

.full-time {
  width: 404px;
  height: 12px;
  background-color: #f5c506;
  opacity: 0.45;
  border-radius: 5px;
}

.current-time {
  position: absolute;
  height: 12px;
  width: 179px;
  background: #f5c506;
  border-radius: 5px 0 0 5px;
  bottom: 0;
}

.volume {
  display: inline-block;
  margin-left: 25px;
}

.slider-text {
  text-align: center;
  font-family: "Asap", "Arial", sans-serif;
  font-size: 63px;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.slider-first-line {
  color: #f5c506;
  margin: 0;
}

.slider-second-line {
  color: #fff;
  margin: 0;
}

.features-line {
  background: url("/assets/images/backgorund_grid.png") no-repeat;
  background-size: 100%;
}